
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            margin:0;
            padding:0;
            box-sizing: border-box;
            scroll-behavior: smooth;
            background-color: black;
          }
          .contact
          {
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
            background-color: black;
            border-radius: 50px;
          }
          .contact h3,h6
          {
              text-align: center;
              color: aqua;
              font-size: 35px;
              font-weight: 600;
              font-family: 'Dancing Script', cursive;
          }
          input[type=text], input[type=phone], input[type=email]
          {
            width: 400px;
            height: 40px;
            margin-bottom: 10px;
            margin-right: 10px;
            border-radius: 20px;
            background-color: black;
            border: solid 2px aqua;
            color-scheme: dark;
            color:aqua;
            padding-left: 10px;
          }
          .contact form input::placeholder 
          {
            padding: 2px 4px 2px 8px;
            color: aqua;
          }
          .contact form #btn
          {
            padding-left: 0px;
            margin-top: 10px;
            margin-right: 10px;
            margin-left: 10px;
            width:50px;
            height: 30px;
            border-radius: 10px;
            border-color: aqua;
            color: white;
          }
          .gender_g
          {
            color: white;
          }
          input[type= radio]
          {
              width: 2rem;
          }
          #home
          {
              text-decoration: none;
          color: white;
          }
    </style>
</head>
<body>
    <div class="contact">
       <form action="/addcustomer">
       <br><br><br>
   <h3>ADD CUSTOMER</h3>
   <br><br>
    <div class="form">
    
    <input type="text" placeholder="Customer Name" name="name" id="text" required>
    <br><br><br>
    
    <input type="phone" placeholder="Customer Phone Number" name="phone" id="text" required>
    <br><br><br>
    
    <input type="email" placeholder="Customer Email Id" name="email" id="text" required>
    <br><br>
    <br>
  <div class="gender_g">
     <strong>Gender:</strong>
     <input type="radio" name="gender" id="radio" value="Male"> Male
     <input type="radio" name="gender" id="radio"  value="Female">  Female
  </div>
    <button type="submit" id="btn" class="registerbtn">ADD</button>
    </div>
    <br>
    <a id="home" href="./">HOME</a> <br>
     
     {{#if mesg}}
     <h6>Data Inserted</h6>
     {{/if}}

      {{#if checkmesg}}
     <h6>Emailid or Phoneno already present!</h6>
     {{/if}}
</form>
</div>
</body>
</html>
